.sidebar-wrapper .sidebar-menu > .nav-item > .nav-treeview {
    background: rgb(22, 22, 22, 0.19);
}

table th .fa-fw {
    font-size: 15px;
    color: rgb(0 55 136 / 70%);
    text-decoration: none;
}